NodeRed/flows.json
[
    {
        "id": "36ce6062cf5d6151",
        "type": "tab",
        "label": "Flow RFID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "71bde34ef7c33cf2",
        "type": "inject",
        "z": "36ce6062cf5d6151",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Prestamos;",
        "x": 140,
        "y": 500,
        "wires": [
            [
                "ea2beebd114357b9"
            ]
        ]
    },
    {
        "id": "ea2beebd114357b9",
        "type": "mysql",
        "z": "36ce6062cf5d6151",
        "mydb": "30c15c85f5d3822c",
        "name": "",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "cd5d26b7874f9b3e",
                "86d53047f186f687"
            ]
        ]
    },
    {
        "id": "cd5d26b7874f9b3e",
        "type": "ui_text",
        "z": "36ce6062cf5d6151",
        "group": "1b2febd1705ac037",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "{{msg.payload[msg.payload.length-1].fecha}}",
        "format": "{{msg.payload[msg.payload.length-1].lector}} : {{msg.payload[msg.payload.length-1].tarjeta}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 500,
        "wires": []
    },
    {
        "id": "2004846e47fbb530",
        "type": "ui_button",
        "z": "36ce6062cf5d6151",
        "name": "",
        "group": "fd47b6b8f1f00295",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Consultar Préstamos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "SELECT * FROM Prestamos;",
        "topicType": "str",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "ea2beebd114357b9"
            ]
        ]
    },
    {
        "id": "86d53047f186f687",
        "type": "debug",
        "z": "36ce6062cf5d6151",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 460,
        "wires": []
    },
    {
        "id": "83fbe4d17fdd80ab",
        "type": "ui_button",
        "z": "36ce6062cf5d6151",
        "name": "",
        "group": "fd47b6b8f1f00295",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Consultar Equipos",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "SELECT * FROM Equipos;",
        "topicType": "str",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "c16e14c265dbfdd1"
            ]
        ]
    },
    {
        "id": "bed8bc327b22daa0",
        "type": "inject",
        "z": "36ce6062cf5d6151",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM Equipos;",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "c16e14c265dbfdd1"
            ]
        ]
    },
    {
        "id": "c16e14c265dbfdd1",
        "type": "mysql",
        "z": "36ce6062cf5d6151",
        "mydb": "30c15c85f5d3822c",
        "name": "",
        "x": 460,
        "y": 620,
        "wires": [
            [
                "cc08fa38e4f02eb0",
                "0b65060743a76deb"
            ]
        ]
    },
    {
        "id": "cc08fa38e4f02eb0",
        "type": "debug",
        "z": "36ce6062cf5d6151",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.length",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "0b65060743a76deb",
        "type": "ui_text",
        "z": "36ce6062cf5d6151",
        "group": "1b2febd1705ac037",
        "order": 1,
        "width": 12,
        "height": 7,
        "name": "",
        "label": "Info",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#ffffff",
        "x": 770,
        "y": 620,
        "wires": []
    },
    {
        "id": "e14877701a70c2f4",
        "type": "telegram command",
        "z": "36ce6062cf5d6151",
        "name": "",
        "command": "/start",
        "description": "Bienvenida",
        "registercommand": true,
        "language": "",
        "scope": "default",
        "bot": "d99694f251f11728",
        "strict": true,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 90,
        "y": 900,
        "wires": [
            [
                "e72e45d3aff47af8"
            ]
        ]
    },
    {
        "id": "e72e45d3aff47af8",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "Bienvenida",
        "func": "//Asignar ChatId a un variable\nvar chatId = msg.payload.chatId;\n\nmsg.payload={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Hola! Bienvenido al Control de Préstamo de Equipos de la FCAeI de la UAEM \\n \\nPara realizar algún proceso ejecute los siguientes comandos: \\n-Alta de usuario: /registro \\n-Consultar mi información: /consultar \\n-Prestar un equipo: /prestamo \\n-Devolucion del equipo: /devolucion\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 940,
        "wires": [
            [
                "d3749ae635128aba"
            ]
        ]
    },
    {
        "id": "d3749ae635128aba",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": true,
        "outputs": 2,
        "x": 570,
        "y": 940,
        "wires": [
            [
                "2d614c3d036c191a"
            ],
            []
        ]
    },
    {
        "id": "919237e6fc7271da",
        "type": "telegram command",
        "z": "36ce6062cf5d6151",
        "name": "",
        "command": "/Hola",
        "description": "Bienvenida",
        "registercommand": true,
        "language": "",
        "scope": "default",
        "bot": "d99694f251f11728",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "e72e45d3aff47af8"
            ],
            []
        ]
    },
    {
        "id": "2d614c3d036c191a",
        "type": "debug",
        "z": "36ce6062cf5d6151",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 940,
        "wires": []
    },
    {
        "id": "a3e4a8fb1c4290f4",
        "type": "comment",
        "z": "36ce6062cf5d6151",
        "name": "Registro por Bot",
        "info": "",
        "x": 100,
        "y": 1080,
        "wires": []
    },
    {
        "id": "17106a2eb4094a1f",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "Registro",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Bienvenido al Registro de Usuarios!\\nPara darle de alta necesitaremos los siguientes datos: \\n\\n 1.-Matricula \\n2.-Nombre \\n3.-Apellido \\n4.-Correo electrónico \\n5.-Numero de telefono\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 1160,
        "wires": [
            [
                "e0aa195dc1ed962d"
            ]
        ]
    },
    {
        "id": "a705dc5c3fea18a4",
        "type": "telegram command",
        "z": "36ce6062cf5d6151",
        "name": "",
        "command": "/registro",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d99694f251f11728",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 60,
        "y": 1160,
        "wires": [
            [
                "17106a2eb4094a1f"
            ],
            []
        ]
    },
    {
        "id": "e0aa195dc1ed962d",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": false,
        "outputs": 1,
        "x": 410,
        "y": 1160,
        "wires": [
            [
                "f2262120f158f41b"
            ]
        ]
    },
    {
        "id": "8d2431eee4689cc8",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "INSERT ESTUDIANTES",
        "func": "var chatId = msg.payload.chatId;\nvar mensaje = msg.payload.content;\nvar msg1 = mensaje.split(\"\\n\");\nvar matricula = msg1[0];\nvar nombre = msg1[1];\nvar apellido = msg1[2];\nvar correo = msg1[3];\nvar telefono = msg1[4];\nmsg.payload ={\n    content: msg1 \n};\nmsg.topic = \"INSERT INTO Estudiantes (Chat_ID, Matricula, Nombre, Apellido, Correo, Telefono) VALUES ('\" + chatId + \"','\" + matricula + \"','\" + nombre + \"','\" + apellido + \"','\" + correo + \"','\" + telefono + \"');\";\nmsg.payload.content=true;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1100,
        "wires": [
            [
                "c6c2ff7e83c55ba8"
            ],
            []
        ]
    },
    {
        "id": "8cd8489e2c07e015",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "RESPUESTA",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Ejecuta el comando /consultar nuevamente para saber su estatus en otro caso /start o /Hola si desea realizar otra operación\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1200,
        "wires": [
            [
                "684a9b684e544aef"
            ]
        ]
    },
    {
        "id": "684a9b684e544aef",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": false,
        "outputs": 1,
        "x": 990,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "446d9fc91284f272",
        "type": "telegram command",
        "z": "36ce6062cf5d6151",
        "name": "",
        "command": "/consultar",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d99694f251f11728",
        "strict": false,
        "hasresponse": false,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 1,
        "x": 120,
        "y": 1360,
        "wires": [
            [
                "952fbef6a72ab0de"
            ]
        ]
    },
    {
        "id": "3216a5e7e26d4d88",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "RESPUESTA",
        "func": "var consulta = msg.payload;\nvar message;\nvar chatId;\n\nfor(var i = 0; i < consulta.length; i++){\n    var row = consulta[i];\n    chatId = row.Chat_ID;\n    message = \"Datos del usuario: \\n\";\n    message += \"Matricula: \" + row.Matricula + \"\\n\";\n    message += \"Nombre(s): \" + row.Nombre + \"\\n\";\n    message += \"Apellidos: \" + row.Apellido + \"\\n\";\n    message += \"Correo: \" + row.Correo + \"\\n\";\n    message += \"Telefono: \" + row.Telefono + \"\\n\";\n    \n}\nmsg.payload ={\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": message\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1420,
        "wires": [
            [
                "bd22a4a667de800d"
            ]
        ]
    },
    {
        "id": "c71db74d338ada6f",
        "type": "debug",
        "z": "36ce6062cf5d6151",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 1320,
        "wires": []
    },
    {
        "id": "952fbef6a72ab0de",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "SELECT ESTUDIANTE",
        "func": "var chatId = msg.payload.chatId;\nmsg.topic = \"SELECT * FROM Estudiantes WHERE Chat_ID = '\" + chatId + \"';\";\nmsg.leer = true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1360,
        "wires": [
            [
                "feaefa7cfc22eb82"
            ]
        ]
    },
    {
        "id": "c2f32fcc40dc6105",
        "type": "comment",
        "z": "36ce6062cf5d6151",
        "name": "Consultar mi Información",
        "info": "",
        "x": 190,
        "y": 1300,
        "wires": []
    },
    {
        "id": "12ed76489657371d",
        "type": "debug",
        "z": "36ce6062cf5d6151",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1120,
        "wires": []
    },
    {
        "id": "feaefa7cfc22eb82",
        "type": "mysql",
        "z": "36ce6062cf5d6151",
        "mydb": "30c15c85f5d3822c",
        "name": "",
        "x": 580,
        "y": 1360,
        "wires": [
            [
                "c71db74d338ada6f",
                "3216a5e7e26d4d88"
            ]
        ]
    },
    {
        "id": "bd22a4a667de800d",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1090,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "f2262120f158f41b",
        "type": "telegram reply",
        "z": "36ce6062cf5d6151",
        "name": "datos",
        "bot": "d99694f251f11728",
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "8d2431eee4689cc8",
                "8cd8489e2c07e015"
            ]
        ]
    },
    {
        "id": "c6c2ff7e83c55ba8",
        "type": "mysql",
        "z": "36ce6062cf5d6151",
        "mydb": "30c15c85f5d3822c",
        "name": "",
        "x": 1080,
        "y": 1100,
        "wires": [
            [
                "12ed76489657371d"
            ]
        ]
    },
    {
        "id": "ca0a310b85095ae1",
        "type": "comment",
        "z": "36ce6062cf5d6151",
        "name": "Bienvenida del Bot",
        "info": "",
        "x": 190,
        "y": 840,
        "wires": []
    },
    {
        "id": "b4c580c96c2f71c1",
        "type": "comment",
        "z": "36ce6062cf5d6151",
        "name": "Prestamo por Bot",
        "info": "",
        "x": 120,
        "y": 1520,
        "wires": []
    },
    {
        "id": "2611994b3df38eeb",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "Prestamo",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Bienvenido al Prestamo de Equipos!\\nPara darle de alta necesitaremos los siguientes datos: \\n\\n 1.-Matricula \\n2.-ID del Equipo\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 1600,
        "wires": [
            [
                "f2cbcfabf285aef6"
            ]
        ]
    },
    {
        "id": "7c5c154312746955",
        "type": "telegram command",
        "z": "36ce6062cf5d6151",
        "name": "",
        "command": "/prestamo",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d99694f251f11728",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 80,
        "y": 1600,
        "wires": [
            [
                "2611994b3df38eeb"
            ],
            []
        ]
    },
    {
        "id": "f2cbcfabf285aef6",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": false,
        "outputs": 1,
        "x": 430,
        "y": 1600,
        "wires": [
            [
                "9723011cf7b57255"
            ]
        ]
    },
    {
        "id": "002359531b9990a1",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "INSERT PRESTAMOS",
        "func": "var chatId = msg.payload.chatId;\nvar mensaje = msg.payload.content;\nvar msg1 = mensaje.split(\"\\n\");\nvar matricula = msg1[0];\nvar id_equipo = msg1[1];\n\nmsg.payload ={\n    content: msg1 \n};\nmsg.topic = \"INSERT INTO Prestamos (Chat_ID, Matricula, ID_Equipos) VALUES ('\" + chatId + \"','\" + matricula + \"','\" + id_equipo + \"'');\";\nmsg.payload.content=true;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1580,
        "wires": [
            [
                "4fd02f6713682cea"
            ],
            []
        ]
    },
    {
        "id": "469d23d5a7a77dcd",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "RESPUESTA",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Gracias! En un momento el técnico te atenderá\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1640,
        "wires": [
            [
                "4f785848f92918e4"
            ]
        ]
    },
    {
        "id": "4f785848f92918e4",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "f546aa3d2aec912d",
        "type": "debug",
        "z": "36ce6062cf5d6151",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1560,
        "wires": []
    },
    {
        "id": "9723011cf7b57255",
        "type": "telegram reply",
        "z": "36ce6062cf5d6151",
        "name": "datos",
        "bot": "d99694f251f11728",
        "x": 590,
        "y": 1600,
        "wires": [
            [
                "002359531b9990a1",
                "469d23d5a7a77dcd",
                "b675280bdf1dc6b6"
            ]
        ]
    },
    {
        "id": "4fd02f6713682cea",
        "type": "mysql",
        "z": "36ce6062cf5d6151",
        "mydb": "30c15c85f5d3822c",
        "name": "",
        "x": 1100,
        "y": 1560,
        "wires": [
            [
                "f546aa3d2aec912d"
            ]
        ]
    },
    {
        "id": "11bef6a11edcda63",
        "type": "comment",
        "z": "36ce6062cf5d6151",
        "name": "Devolución por Bot",
        "info": "",
        "x": 150,
        "y": 1720,
        "wires": []
    },
    {
        "id": "0a47b5c73ecc6b0f",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "Prestamo",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Gracias por hacer la devolución! Escribe tu matrícula n\\Matricula: \\nID_Equipo\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 1800,
        "wires": [
            [
                "6c1f1286022bcdc1"
            ]
        ]
    },
    {
        "id": "313899d8ca27eee6",
        "type": "telegram command",
        "z": "36ce6062cf5d6151",
        "name": "",
        "command": "/devolucion",
        "description": "",
        "registercommand": false,
        "language": "",
        "scope": "default",
        "bot": "d99694f251f11728",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 110,
        "y": 1800,
        "wires": [
            [
                "0a47b5c73ecc6b0f"
            ],
            []
        ]
    },
    {
        "id": "6c1f1286022bcdc1",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": false,
        "outputs": 1,
        "x": 450,
        "y": 1800,
        "wires": [
            [
                "651d236b8aa7024d"
            ]
        ]
    },
    {
        "id": "13c714e4cc0c5e67",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "UPDATE PRESTAMOS",
        "func": "var chatId = msg.payload.chatId;\nvar mensaje = msg.payload.content;\nvar msg1 = mensaje.split(\"\\n\");\nvar matricula = msg1[0];\nvar hora = new Date;\n\nmsg.payload ={\n    content: msg1 \n};\nmsg.topic = \"UPDATE Prestamos Hora_Devolucion = \"+hora+\" WHERE Matricula =\"+ matricula+\";\";\nmsg.payload.content=true;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1800,
        "wires": [
            [
                "10987bfae9c559bb"
            ],
            []
        ]
    },
    {
        "id": "01d6c24302db42d0",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "RESPUESTA",
        "func": "var chatId = msg.payload.chatId;\n\nmsg.payload = {\n    \"chatId\": chatId,\n    \"type\": \"message\",\n    \"content\": \"¡Gracias! Ahora la devolucion esta completa\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1920,
        "wires": [
            [
                "c8bc94d42112d185"
            ]
        ]
    },
    {
        "id": "c8bc94d42112d185",
        "type": "telegram sender",
        "z": "36ce6062cf5d6151",
        "name": "",
        "bot": "d99694f251f11728",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1050,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "651d236b8aa7024d",
        "type": "telegram reply",
        "z": "36ce6062cf5d6151",
        "name": "datos",
        "bot": "d99694f251f11728",
        "x": 610,
        "y": 1800,
        "wires": [
            [
                "13c714e4cc0c5e67",
                "01d6c24302db42d0",
                "cbccd471d86de572"
            ]
        ]
    },
    {
        "id": "10987bfae9c559bb",
        "type": "mysql",
        "z": "36ce6062cf5d6151",
        "mydb": "30c15c85f5d3822c",
        "name": "",
        "x": 1120,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "d1fb20bbfa841f69",
        "type": "ui_text",
        "z": "36ce6062cf5d6151",
        "group": "b6d227e923e07525",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lector",
        "format": "{{msg.payload.lector}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 2400,
        "wires": []
    },
    {
        "id": "193050b2338b69b1",
        "type": "mqtt in",
        "z": "36ce6062cf5d6151",
        "name": "",
        "topic": "prestamoEquipos/rpi/rfid",
        "qos": "2",
        "datatype": "json",
        "broker": "d7f662603b61395d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 2320,
        "wires": [
            [
                "d1fb20bbfa841f69",
                "e7b78a1ca6fbcaae"
            ]
        ]
    },
    {
        "id": "e7b78a1ca6fbcaae",
        "type": "ui_text",
        "z": "36ce6062cf5d6151",
        "group": "b6d227e923e07525",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Tarjeta",
        "format": "{{msg.payload.tarjeta}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 2360,
        "wires": []
    },
    {
        "id": "cbccd471d86de572",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "UPDATE EQUIPOS",
        "func": "var chatId = msg.payload.chatId;\nvar mensaje = msg.payload.content;\nvar msg1 = mensaje.split(\"\\n\");\nvar matricula = msg1[0];\nvar id_equipo = msg1[0];\nvar hora = new Date;\n\nmsg.payload ={\n    content: msg1 \n};\nmsg.topic = \"UPDATE Equipos Estado = Disponible WHERE ID_Equipo =\"+ id_equipo+\";\";\nmsg.payload.content=true;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1740,
        "wires": [
            [],
            [
                "10987bfae9c559bb"
            ]
        ]
    },
    {
        "id": "b675280bdf1dc6b6",
        "type": "function",
        "z": "36ce6062cf5d6151",
        "name": "UPDATE EQUIPOS",
        "func": "var chatId = msg.payload.chatId;\nvar mensaje = msg.payload.content;\nvar msg1 = mensaje.split(\"\\n\");\nvar matricula = msg1[0];\nvar id_equipo = msg1[0];\nvar hora = new Date;\n\nmsg.payload ={\n    content: msg1 \n};\nmsg.topic = \"UPDATE Equipos Estado = 'En Prestamo' WHERE ID_Equipo =\"+ id_equipo+\";\";\nmsg.payload.content=true;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1500,
        "wires": [
            [
                "4fd02f6713682cea"
            ],
            []
        ]
    },
    {
        "id": "5f88f7558ec5a9ab",
        "type": "ui_spacer",
        "z": "36ce6062cf5d6151",
        "name": "spacer",
        "group": "b6d227e923e07525",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "1ea264d40685f164",
        "type": "ui_spacer",
        "z": "36ce6062cf5d6151",
        "name": "spacer",
        "group": "b6d227e923e07525",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "30c15c85f5d3822c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "mysql",
        "port": "3306",
        "db": "prestamo_de_equipos",
        "tz": "-06:00",
        "charset": "UTF8"
    },
    {
        "id": "1b2febd1705ac037",
        "type": "ui_group",
        "name": "Equipos",
        "tab": "0b3cf1e319cfe9af",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd47b6b8f1f00295",
        "type": "ui_group",
        "name": "Historico",
        "tab": "0b3cf1e319cfe9af",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d99694f251f11728",
        "type": "telegram bot",
        "botname": "Prestamo_EquiposBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b6d227e923e07525",
        "type": "ui_group",
        "name": "Lectura",
        "tab": "0b3cf1e319cfe9af",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d7f662603b61395d",
        "type": "mqtt-broker",
        "name": "Docker",
        "broker": "52.28.227.73",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b3cf1e319cfe9af",
        "type": "ui_tab",
        "name": "Control RFID",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]